{% load static %}
        <!-- Footer -->
        <footer class="text-center text-lg-start bg-light text-muted ">
          
            <section class="">
                <div class="container text-center text-md-start mt-5">
            
                    <div class="row mt-3">
                      
                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <!-- Content -->
                            <h6 class="text-uppercase fw-bold mb-4">
                                <i class="fas fa-gem me-3"></i>Dhaka Jobs
                            </h6>
                            <p>
                                Here you can get your dream jobs.Search and find all the Govt and Non-Govt job from here.
                            </p>
                        </div>
                       

                        
                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                      
                            <h6 class="text-uppercase fw-bold mb-4">Important Links</h6>
                            <p>
                                <a href="#!" class="text-reset">Jobs</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Contact</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Blog</a>
                            </p>
                         
                        </div>
              

                     
                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                            <p>
                                <a href="#!" class="text-reset">Terms & COnditions</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Settings</a>
                            </p>
                            <p>
                                <a href="#!" class="text-reset">Jobs</a>
                            </p>
                        
                        </div>
                 

                       
                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                            <!-- Links -->
                            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                            <p><i class="fas fa-home me-3"></i> Dhaka, Bangladesh</p>
                            <p>
                                <i class="fas fa-envelope me-3"></i>
                               test@gmail.com
                            </p>
                            <p><i class="fas fa-phone me-3"></i> +88 0124566766</p>
                            <p><i class="fas fa-print me-3"></i> +88 012765545</p>
                        </div>
                      
                    </div>
                 
                </div>
            </section>
      

            <!-- Copyright -->
            <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
                © 2021 Copyright:
                <a class="text-reset fw-bold" href="#">Imran Hossain</a>
            </div>
         
        </footer>